# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

In [1]:
import pandas as pd

In [2]:
# Your code here
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [3]:
# Your code here
df.columns = df.columns.str.lower().str.replace(" ", "_")

df.rename(columns= {'st': 'state'}, inplace=True)
df

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [4]:
# Your code here

df['gender'] = df['gender'].apply(lambda x: 'F' if x == 'Femal' else ('F' if x == 'female' else ('M' if x == 'Male' else x)))

df.gender.unique()

array([nan, 'F', 'M'], dtype=object)

In [5]:

df['state'] = df['state'].apply(lambda x: 'Washington' if x == 'WA' else ('Arizona' if x == 'AZ' else ('California' if x == 'Cali' else x)))

df.state.unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', nan],
      dtype=object)

In [6]:
df['education'] = df['education'].apply(lambda x: 'Bachelor' if x == 'Bachelors' else x)

df.education.unique()

array(['Master', 'Bachelor', 'High School or Below', 'College', 'Doctor',
       nan], dtype=object)

In [7]:
df['customer_lifetime_value'] = df['customer_lifetime_value'].apply(lambda x: str(x).replace("%",""))

df.customer_lifetime_value.unique()

array(['nan', '697953.59', '1288743.17', ..., '2031499.76', '323912.47',
       '899704.02'], dtype=object)

In [8]:
df['vehicle_class'] = df['vehicle_class'].apply(lambda x: 'Luxury' if x == 'Sports Car' or x == 'Luxury SUV' or x == 'Luxury Car' else x)

df.vehicle_class.unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury', nan],
      dtype=object)

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [9]:
df.sample(10)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
36,KY38074,California,NaN,Bachelor,1389173.57,42305.0,117.0,1/0/00,Personal Auto,Four-Door Car,561.600000
2219,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN
2069,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN
971,VT78274,Arizona,M,College,493122.13,0.0,68.0,1/0/00,Personal Auto,Four-Door Car,480.159011
408,HB67642,Arizona,F,High School or Below,3461137.90,20090.0,109.0,1/0/00,Personal Auto,Luxury,523.200000
471,EK87864,Arizona,F,College,282194.72,38977.0,70.0,1/0/00,Special Auto,Four-Door Car,139.489926
592,PM27367,California,F,Master,277890.37,73570.0,70.0,1/1/00,Special Auto,Two-Door Car,75.936096
1295,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN
349,YH43527,Oregon,F,College,360586.03,21585.0,92.0,1/0/00,Corporate Auto,Four-Door Car,441.600000
2940,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Your code here
df["customer_lifetime_value"] = df["customer_lifetime_value"].astype(float)

In [11]:
df["number_of_open_complaints"] = df["number_of_open_complaints"].str.split("/").str[1]

In [12]:
df["number_of_open_complaints"] = pd.to_numeric(df["number_of_open_complaints"], errors='coerce')

In [13]:
df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints    float64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [14]:
# Your code here
df = df.dropna(subset="customer")

In [15]:
df.isnull().sum()

customer                       0
state                          0
gender                       117
education                      0
customer_lifetime_value        3
income                         0
monthly_premium_auto           0
number_of_open_complaints      0
policy_type                    0
vehicle_class                  0
total_claim_amount             0
dtype: int64

In [16]:
df["customer_lifetime_value"] = df["customer_lifetime_value"].fillna(round(df["customer_lifetime_value"].mean(), 2))

C:\Users\germa\AppData\Local\Temp\ipykernel_30440\3145204850.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["customer_lifetime_value"] = df["customer_lifetime_value"].fillna(round(df["customer_lifetime_value"].mean(), 2))

In [17]:
df.sample(10)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
785,BM15160,California,F,High School or Below,849635.28,44624.0,71.0,1.0,Special Auto,Four-Door Car,73.883044
472,GV45403,Arizona,M,Bachelor,775712.81,0.0,111.0,0.0,Corporate Auto,Two-Door Car,607.445900
811,XO36233,Washington,M,Bachelor,864153.00,78904.0,109.0,0.0,Personal Auto,SUV,250.001424
16,FV94802,Nevada,NaN,High School or Below,256686.78,25049.0,67.0,0.0,Personal Auto,Two-Door Car,454.245098
797,CH97539,Washington,F,Bachelor,828696.44,40001.0,70.0,0.0,Personal Auto,Four-Door Car,142.567008
473,QK31192,Arizona,M,High School or Below,407913.27,0.0,114.0,0.0,Corporate Auto,Two-Door Car,631.124372
637,MR67738,Oregon,F,High School or Below,267686.79,54480.0,67.0,0.0,Personal Auto,Four-Door Car,321.600000
208,OY38576,Oregon,F,High School or Below,927723.38,71416.0,116.0,0.0,Corporate Auto,SUV,556.800000
658,UK25655,Oregon,F,Bachelor,343525.01,64348.0,86.0,0.0,Personal Auto,Two-Door Car,212.391975
128,QH48047,Oregon,NaN,College,1179049.62,25251.0,66.0,0.0,Personal Auto,Four-Door Car,316.800000

In [18]:
df.head(11)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,793690.26,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78,62902.0,69.0,0.0,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,538089.86,55350.0,67.0,0.0,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03,0.0,101.0,0.0,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40,14072.0,71.0,0.0,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,738817.81,28812.0,93.0,0.0,Special Auto,Four-Door Car,425.527834
10,SX51350,California,M,College,473899.20,0.0,67.0,0.0,Personal Auto,Four-Door Car,482.400000

In [19]:
df["gender"] = df["gender"].fillna(df["gender"].mode()[0])

C:\Users\germa\AppData\Local\Temp\ipykernel_30440\46693862.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["gender"] = df["gender"].fillna(df["gender"].mode()[0])

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [20]:
# Your code here

#df["customer"].duplicated().sum()

df.duplicated().sum()

0

In [21]:
df.to_csv("lab_clientes_revisado.csv", index = False)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [22]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [23]:
# Your code here